#invest {
  p {
    font-size: 16px;
  }
  .invest-banner {
    background-size:     cover;
    background-image:    image-url('/images/cataneo-investir-banner.png');
    color:               black;
    height:              35vh;
    padding:             10px 0;
    position:            relative;
    z-index:             0;
    .banner-title {
      margin-top: 5em;
      padding: 5px;
      background-image: linear-gradient(-100deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 50%);
      h1, h2 {
        // text-shadow: 1px 1px black;
      }
    }
    a {
      margin-top: 0.5em;
      font-size: 18px;
    }
  }
  .schema {
    img {
      width: 55%
    }
  }
  .invest-goals {
    background-color: $brand-primary;
    border-radius: $btn-border-radius-base;
    color: white;
  }
  #response {
    padding-top: 4em;
    background-color: $brand-primary;
    color: white;
  }
  .video-cataneo {
    iframe {
      height: 60vh;
      width: 100%;
    }
  }
}
