@import "bootstrap";
@import "home";
@import "presentation";
@import "invest";
@import "contact";
@import "reference";
@import "variables";

body {
  padding-top: 74px;
}

#body-wrap {
  height:             100%;
  min-height:         800px;
  padding-bottom:     0px;
}

footer {
  margin-top:  50px;
  box-shadow:  0px -1px 5px 0px rgba(0,0,0,0.75);
  height:      180px;
  padding-top: 1em;
  color:       $brand-primary;
  .footer-brand {
    padding-top: 1em;
    padding-bottom: 1em;
    img {
      height: 100px;
    }
  }
  .social {
    img {
      margin-bottom: 2px;
    }
  }
}

h1, h2, h3, h4 {
  font-family: $header-font !important;
}

.padded {
  padding-top:    2em;
  padding-bottom: 2em;
}

.padding-top {
  padding-top: 2em;
}

.padding-bottom {
  padding-bottom: 2em;
}
