<footer class="footer">
  <div class="container">
    <div class="row text-center footer-brand">
      <%= image_tag("cataneo-logo-banner.png")%>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-2">
        <p>&copy; Catanéo {{ now | localized_date: '%Y' }} </p>
      </div>
      <div class="col-md-2">
        <a href="mentions">Mentions Légales</a>
      </div>
      <div class="col-md-2">
        <a href="tel:04 78 92 11 06">Tél : 04 78 92 11 06</a>
      </div>
      <div class="col-md-3">
        <a href="mailto:contact@cataneo.fr">contact@cataneo.fr</a>
      </div>
      <div class="col-md-3 social">
        <p>Suivez nous
          <a href="https://www.facebook.com/cataneoimmo/">
            <%= image_tag("icon-bleu-facebook.svg", :style => "height: 20px")%>
          </a>
          <a href="https://www.linkedin.com/company/cataneo/">
            <%= image_tag("icon-bleu-linkedin.svg", :style => "height: 21px")%>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
