<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% path_to home %}">
      <%= image_tag("cataneo-logo-nav.png", :class => "d-inline-block align-top", :style => "height: 50px" )%>
    </a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="{% path_to investir %}#response" class="btn btn-lead-primary">Lancer mon projet</a>
      </li>
      <li>
        <a href="tel:04 78 92 11 06" class="btn btn-primary">
          <%= image_tag("icon-blanc-phone.svg", :style => "height: 20px") %>
          04 78 92 11 06</a>
      </li>
      <li>
        <a href="/presentation">Notre savoir-faire</a>
      </li>
      <li>
        <a href="/investir">Comment investir</a>
      </li>
      <li>
        <a href="">Nos références</a>
      </li>
      <li>
        <a href="/contact">Nous contacter</a>
      </li>
    </ul>
  </div>
</nav>
