<div id="invest">
  <div class="invest-banner">
    <div class="container text-center">
      <div class="banner-title">
        <h2>Notre méthode pour un investissement clé en main</h2>
      </div>
    </div>
  </div>

  <div class="container padded schema">
    <div class="row padded text-center">
      <%= image_tag("procesus-horizontal-04.svg")%>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h4>La durée moyenne d’un accompagnement entre un premier rendez-vous de découverte (physique ou téléphonique) et la mise en location est de <b>7 mois</b>.</h4>
      </div>
    </div>
  </div>

  <div class="container padded invest">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>Sécuriser et concrétiser son projet avec Catanéo</h2>
      </div>
    </div>
      <div class="row icon text-center">
        <div class="col-md-3 col-md-offset-2">
          <h4><b>Alignement de nos intérêts</b></h4>
          <%= image_tag("icon-bleu-hand-check.svg")%>
          <h4>Transparence tout au long de la démarche</h4>
        </div>
        <div class="col-md-3">
          <h4><b>Meilleures opportunités</b></h4>
          <%= image_tag("icon-bleu-position.svg")%>
          <h4>Réseau immobilier lyonnais depuis 2012 et technologie de veille</h4>
        </div>
        <div class="col-md-3">
          <h4><b>Indépendance</b></h4>
          <%= image_tag("icon-bleu-bird.svg")%>
          <h4>Liberté d’action en faveur des projets de nos clients</h4>
        </div>
      </div>
    <div class="row text-center">
      <div class="col-md-10 col-md-offset-1">
        <h4>Notre approche est construite pour défendre les intérêts de nos clients.</h4>
      </div>
    </div>
  </div>
  <div class="video-cataneo text-center">
    <iframe src="https://www.youtube.com/embed/_GSvQCsqekU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div id="response">
    <div class="container padded invest">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Lancer mon projet avec Catanéo</h2>
        </div>
      </div>
      <div class="typeform-widget" data-url="https://francois218152.typeform.com/to/rRzIPW"
      style="width: 100%; height: 250px;"></div>
      <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=rRzIPW&utm_source=typeform.com-14220328-Pro&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
    </div>
  </div>
</div>

{% endblock %}
